body {
	background-color: white
}

p {
	font-style: normal;
    font-family: arial;
}

#div1 {
    height: 200px;
	width: 80%;
	padding: 10px;
    margin: 0 auto;
	background-color: white;
    border-style: none;
	border-width: 0px;
    border-color: none;
}


#mapdiv {
	height: 480px;
}